@import url('<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
text-align: center;
background-attachment: fixed !important;
}

::-webkit-scrollbar{
    width: 1vw;
}
::-webkit-scrollbar-thumb{
    background-color: #9aa7e2;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #1234d0;
    width: 1.5vw;
}
::-webkit-scrollbar-track{
    background-color: beige;
}

select{
    word-wrap: normal;
    background: beige;
    border: none;
    border-radius: 5px;
}
body {
background-image: url(/stockosio/img/background.svg) !important;
margin: 0;
text-align: center !important;
background: white;
font-family: 'Rubik', sans-serif;
}
.btn{
    display: inline-block !important;
}
button{
margin: 10px !important;
border-radius: 8px !important;
}
.show{
    margin: auto;
    width: 500px;
    padding: 20px;
    text-align:center; 
    font-size:2em;
    background: beige !important;
    border-radius: 10px;
}
.input-field{
    display: grid;
    margin: auto;
    width: 245px;
    height: 115px;
}
label>img{
    margin:auto;
    transition:0.3s;
}
label>img:hover{
    transform: scale(1.05);
    transition:0.3s;
}
.image-upload>input{
    display: none !important;
}
.login-form {
background: #fff;
width: 500px;
margin: 65px auto;
display: -webkit-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
border-radius: 4px;
box-shadow: 0 2px 25px #9aa7e2;
}
.login-form h1 {
font-weight: 300;
text-align: center;
}
.login-form .content {
    padding: 35px;
    text-align: center;
    margin: 51px;
    border-radius: 50px;
    box-shadow: 2px 2px 25px #9aa7e2;
}
.login-form .input-field {
padding: 12px 5px;
}
.login-form .input-field input {
font-size: 16px;
display: block;
font-family: 'Rubik', sans-serif;
width: 100%;
padding: 10px 1px;
border: 0;
border-bottom: 1px solid beige;
outline: none;
-webkit-transition: all .2s;
transition: all .2s;
}
img#output{
    margin: auto;
    width: 40px !important;
}
.login-form .content img{
    width: 50% !important;
}
.login-form .input-field input::-webkit-input-placeholder {
text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
text-transform: uppercase;
}
.login-form .input-field input::placeholder {
text-transform: uppercase;
}
.login-form .input-field input:focus {
border-color: #222;
}
.login-form a.link {
text-decoration: none;
color: #747474;
letter-spacing: 0.2px;
text-transform: uppercase;
display: inline-block;
margin-top: 20px;
}
.login-form .action {
display: -webkit-box;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
justify-content: center;
}
.login-form .action button {
width: 25%;
border: none;
padding: 18px;
font-family: 'Rubik', sans-serif;
cursor: pointer;
text-transform: uppercase;
background: #1234d0;
color: white;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 0;
letter-spacing: 0.2px;
outline: 0;
-webkit-transition: all .3s;
transition: all .3s;
}
.login-form .action button:hover {
background: beige;
color: black;
border: solid #1234d0 2px ;
transition: 0.3s ease;
}
.login-form .action button:nth-child(2) {
background: #1234d0;
color: black ;
border-bottom-left-radius: 0;
border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
background: #1234d0;
}
h1 img{
    width: 46px !important;
    margin-inline: 15px;
}
.container{
    display: grid;
    height: auto;
    place-items: centre;
    border: 2px dashed #c2cdda;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.fa{
    color: #1234d0;
}
.txt{
    margin: 10px;
    border: 5px solid;
    text-align: center;
}
section.content-header {
    text-align: center;
    padding: 10px;
}
.table{
    margin: 10px;
    padding: 10px;
}
tr{
    background: none;
    text-align: center;
}
tr:hover{
    background: beige;
    color: black;
    transition: 0.1s;
}
th{
    text-align: center;
}
